
      .list-group-naked .list-group-item {
        background-color: transparent;
        border: none;
      }
      .list-group-item-action:focus,
      .list-group-item-action:hover {
        background-color: #eeeeee;
      }
      .list-group-naked img {
        width: 40px;
        height: 27px;
      }
