.card-product{
    background: #ffffff; 
    width: 13rem;   
}
.card-product:hover .product-title{
    color: var(--mdb-blue);
}
.card-product>div>a{
    z-index: 90;
} 
.z-95{
    z-index: 95;
}
.f-Fs{
    font-size: .8rem
}
.btn-decrease{
    display: none;
}
.slide-maxv{
    bottom: -1em;
}
.options-type{
    height: 1.5em;
}
.product-title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}